body {
    background-color: rgb(7, 69, 95);
    color: rgb(236, 245, 205);
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
button {
    padding: 5px 20px;
    background-color: rgb(137, 187, 231);
    border-style: solid;
    color: #000000;
}

input {
    height: 28px;
}